<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- Bootstrap -->
    {% block stylesheets %}
    	<link href="{{ asset('bundles/mfcv/css/bootstrap.min.css') }}" rel="stylesheet">
    	<link href="{{ asset('bundles/mfcv/css/style.css') }}" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-546881e7455a5d88"></script>
  </head>
  <body>
    
	<div id="header" class="page-header">
	  	<div class="row">
	  		<div class="col-md-2"></div>
	  		<a href="{{ path('mf_cv_homepage') }}"><h1 class="col-md-10">Malick Fall <small>Développeur web</small></h1></a>
		</div>
	</div>

    <nav class="navbar navbar-inverse flat" role="navigation">
	  <div class="row">
	    <div class="col-md-2">&nbsp;</div>
	    {% block nav %}{% endblock %}
		<div class="col-md-2">&nbsp;</div>
	  </div>
	</nav>

	<div id="content" class="row">
		<div id="leftsidebar" class="col-md-2 col-md-offset-2">{% block left %}{% endblock %}
		    <div class="panel panel-primary flat ">
			  <div class="panel-heading">29 ans - Paris</div>
			  <div class="panel-body btn-group btn-group-lg flat">
			    <a href="#" class="thumbnail">
			      <img data-src="holder.js/100%x180" alt="photo">
			    </a>
			  </div>
			</div>
			<div class="panel panel-primary flat ">
			  <div class="panel-heading">Contact</div>
			  <div class="panel-body btn-group btn-group-lg flat">
			    <button 
			    	type="button" 
			    	class="btn btn-default custompopover"
			    	data-toggle="popover"
			    	data-placement="bottom"
			    	data-trigger="focus"
			    	title="<a href='mailo:malickfall60@gmail.com'>malickfall60@gmail.com</a>"
			    	data-content="<a href='{{ path('mf_cv_contact') }}'>formulaire de contact</a>"
		    	><span class="glyphicon glyphicon-envelope"></span></button>
			    <button 
			    	type="button"
			    	class="btn btn-default custompopover"
			    	data-toggle="popover"
			    	data-placement="bottom"
			    	data-trigger="focus"
			    	title="téléphone"
			    	data-content="0664698375"
		    	><span class="glyphicon glyphicon-earphone"></span></button>
			  </div>
			</div>
		</div>
		<div id="center" class="col-md-6">{% block content %}{% endblock %}</div>
		<div class="col-md-2">&nbsp;</div>
	</div>

	<div id="footer">
		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		<!--<div class="addthis_sharing_toolbox"></div>-->
		Retrouvez-moi sur : 
	</div>

    {% block javascripts %}
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="{{ asset('bundles/mfcv/js/jquery-1.11.1.min.js') }}"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="{{ asset('bundles/mfcv/js/bootstrap.min.js') }}"></script>
	    <script src="{{ asset('bundles/mfcv/js/script.js') }}"></script>

	    <!-- Go to www.addthis.com/dashboard to customize your tools -->
		<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-546881e7455a5d88" async="async"></script>--><
    {% endblock %}
  </body>
</html>